body {
    background-color: black;
    font-family: arial;
    color: white;
}
h1 { 
    color:grey;
    font-family: verdana;
}
/* I created a grid class below because the "align" property from the example doesn't work anymore. */
.grid {
    display: grid;
    justify-content: center;
}
.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    
}


